.menu {
  position: absolute;
  top: 0;
  left: -100%;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 10vw;
  box-shadow: 20px 100px 100px 0 rgba(1, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

.menu.open {
  left: 0;
}


.listDiv {
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
